.navbar{
    background-color: #0E0F18!important;
    font-family: 'Montserrat', sans-serif;
    /* position: absolute;
    width: 100vw; */
}

.navbar .navbar-toggler-icon{
    background-image: url('./hamburger.svg');
}

.navbar .navbar-brand{
    color: #fff;
    font-size: 1rem;
}

.navbar .navbar-brand img{
    width: 100px;
    margin-right: 1rem;
}

.navbar .navbar-collapse{
    background-color: #0E0F18;
    z-index: 100;
}

.navbar .nav-link{
    color: #fff;
    margin-left: 2rem;
    font-size: 1.25rem;
}

.navbar .nav-link:hover{

    color: rgba(255, 255, 255, 0.493)!important;
}

.navbar .active{
    color: rgba(255, 255, 255, 0.493)!important;
}

.navbar .btn{
    margin: 0 1rem;
    color: #fff;
}

.navbar .btn:hover{
    background-color: #02a89a6b!important;
}

@media (max-width:992px) {
    .navbar .btn{
        margin: 0 1rem;
    }

    .navbar .navbar-brand{
        font-size: 0.75rem;
    }

    .navbar .navbar-brand img{
        width: 50px;
    }

    .navbar{
        position: absolute;
        width: 100vw;
    }
}